<header class="header clearfix">

  <div class="wrapper">

    <!-- Fixed navbar -->
    <nav>
      <ul class="nav nav-pills pull-right">
        {% assign sortedpages = site.pages | sort: 'order' %}
        {% for curpage in sortedpages %}
          {% if curpage.title %}
            {% if page.title == curpage.title %}
              {% assign active =  "active" %}
            {% else %} 
              {% assign active = "inactive" %}
            {% endif %}
            <li> <a class="{{active}}" href="{{ curpage.url | prepend: site.baseurl }}">{{ curpage.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/igsr.png" | prepend: site.baseurl }}" height="100" width="224"/></a>
  </div>

</header>
